@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  color: #000;
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

/* headerの修飾 */
#header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 20px;
}

#header .logo {
  width: 100%;
  max-width: 150px;
}

#header .logo a {
  display: block;
}

#header .navi .menu {
  display: flex;
  align-items: center;
}

#header .navi .menu li {
  margin-left: 40px;
  font-size: 14px;
}



/*----------------------------
  スマートフォン
----------------------------*/
@media screen and (max-width: 767px) {
  main {
    padding-top: 60px;
  }
  #header {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #header .logo {
    max-width: 120px;
  }
  /*ハンバーガーメニュー*/
  #header .hamburger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 30;
  }
  #header .hamburger span {
    width: 30px;
    height: 3px;
    background-color: #000;
    display: inline-block;
    position: absolute;
    left: 10px;
    transition: all 0.4s;
  }
  #header .hamburger span:nth-child(1) {
    top: 16px;
  }
  #header .hamburger span:nth-child(2) {
    top: 25px;
  }
  #header .hamburger span:nth-child(3) {
    top: 34px;
  }
  
}
